.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black; /* Set background to black */
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1000px; /* Enables 3D effect */
}

.flip-box {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.flip-box.flipping {
  transform: rotateY(180deg);
}

.flip-content {
  font-size: 43px;
  color: white;
  backface-visibility: hidden;
}

.flip-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .logo {
    height: 200px;
    width: auto;
  }
